<div class="container">

    <h2><i class="icon fa fa-folder"></i> Achievements</h2>

    <div class="row">

        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ '/assets/tomabus-re.png' }}" alt="Re: 苫バス - 苫小牧道南バス時表">
                <div class="card-body">
                    <h4 class="card-title pt-0">Re: 苫バス</h4>
                    <p class="card-text">
                        『Re: 苫バス - 苫小牧道南バス時刻表』<br>
                        北海道苫小牧市内を運行する道南バスの時刻表アプリです。
                    </p>
                    <a href="https://hashimotoryoh.github.io/tomabus-re/" target="_blank" class="btn btn-primary float-right text-white">Landing Page</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ '/assets/astro-messaging.png' }}" alt="Astro Messaging">
                <div class="card-body">
                    <h4 class="card-title pt-0">Astro Messaging</h4>
                    <p class="card-text">
                        WebSocket通信の勉強のため作ったチャットアプリです。動くだけで、メンテナンスなどはしていません。
                    </p>
                    <a href="https://apps.apple.com/jp/app/id1487402837" target="_blank" class="btn btn-primary float-right text-white">App Store</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ '/assets/side.png' }}" alt="Pool & Darts + Poker Bar &quot;side&quot;">
                <div class="card-body">
                    <h4 class="card-title pt-0">Pool & Darts + Poker Bar &quot;side&quot; 様</h4>
                    <p class="card-text">
                        東京都練馬区にあるプールバー（ビリヤード場）です。ホームページ制作をさせていただきました。
                    </p>
                    <a href="http://www.pool-and-darts-side.com/" target="_blank" class="btn btn-primary float-right text-white">ホームページへ</a>
                </div>
            </div>
        </div>

        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ '/assets/3bet.png' }}" alt="アミューズメント・カジノ 3BET">
                <div class="card-body">
                    <h4 class="card-title pt-0">アミューズメント・カジノ 3BET 様</h4>
                    <p class="card-text">
                        東京都中野区にあるアミューズメントカジノです。ホームページ制作とブログ運用をさせていただきました。
                    </p>
                    <p class="btn btn-secondary float-right text-white">ホームページへ</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3" style="float:left">
            <div class="card mb-2">
                <img class="card-img-top" src="{{ '/assets/s-life.png' }}" alt="ビリヤードレッスン S-Life">
                <div class="card-body">
                    <h4 class="card-title pt-0">ビリヤードレッスン S-Life 様</h4>
                    <p class="card-text">
                        栗原信祐プロ（JPBA所属）によるビリヤードレッスン生の募集ページです。ページ制作をさせていただきました。
                    </p>
                    <a href="http://s-life-billiards.com/" target="_blank" class="btn btn-primary float-right text-white">ページへ</a>
                </div>
            </div>
        </div>

    </div>

</div>
