<div class="container">
  <h2>Achievements</h2>
  <div id="achievementCarousel" class="carousel carousel-multi-item" data-ride="carousel">

    <div class="controls-top">
      <a class="btn-floating" href="#achievementCarousel" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#achievementCarousel" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    
    <ol class="carousel-indicators">
      <li data-target="#achievementCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#achievementCarousel" data-slide-to="1"></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item">

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title pt-0">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a class="btn btn-primary float-right text-white">Button</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
