<footer class="footer">
    <p>&copy;2020 {{ site.user.fullname.en }}. All rights reserved.</p>
    <p>This site is maintained by <a target="_blank" href="{{ site.github.repository_url }}">GitHub Pages</a> on <a target="_blank" href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">{{ site.github.build_revision }}</a></p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
