<div id="profile" class="section-content">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 text-center">
  <!-- <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" > -->
        <img src="{{ '/assets/profile.jpg' }}" width="250" height="250" />
        <h2><b><ruby><rb>{{ site.user.fullname.ja }}</rb><rt>{{ site.user.fullname.ja_kata }}</rt></ruby></b></h2>
        <p>{{ site.user.fullname.en }}</p>
      </div>

      <div class="col-lg-9">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>フリーのシステムエンジニアです。</p>
              <p>最近はiOSを中心に開発を行っています。</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-center">
              <h3><i class="icon fa fa-envelope"></i> Email</h3>
              <p><b><a href="mailto:{{ site.user.email }}">{{ site.user.email }}</a></b></p>
              <p class="text-muted">通常は一時間以内に返信します。</p>
            </div>
            <div class="col-sm-6 text-center">
              <h3><i class="icon fa fa-phone"></i> Tel</h3>
              <p><b><a href="tel:{{ site.user.tel }}">{{ site.user.tel }}</a></b></p>
              <p class="text-muted">発信者番号を通知しておかけください。</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
