<div class="container">

    <h2><i class="icon fa fa-child"></i> Timeline</h2>

    <div class="row">

        <div class="col-xl-10 offset-xl-1">
            <ul class="timeline">
                <li>
                    <span class="float-right text-muted">1994-12-10</span>
                    <p class="h5 text-warning">神奈川県 茅ヶ崎市 生まれ</p>
                    <p class="text-muted">
                        戌年 射手座
                    </p>
                </li>
                <li>
                    <span class="float-right text-muted">1998</span>
                    <p class="h5 text-warning">北海道 苫小牧市へ</p>
                    <p class="text-muted">
                        苫小牧市立 沼ノ端小学校・拓勇小学校<br>
                        苫小牧市立 沼ノ端中学校・青翔中学校
                    </p>
                </li>
                <li>
                    <span class="float-right text-muted">2010 ~ 2015</span>
                    <p class="h5 text-warning">国立苫小牧工業高等専門学校</p>
                    <p class="text-muted">
                        情報工学科 第21期
                    </p>
                </li>
                <li>
                    <span class="float-right text-muted">2014-08</span>
                    <p class="h5 text-warning">バイクで日本一周</p>
                    <p>
                        在学時にテントと寝袋を積んでバイクで日本一周を決行。
                        北海道から日本海側を南下し沖縄まで、四国・九州も周り太平洋側を北上してまた北海道へ。
                        全国47都道府県を制覇。
                    </p>
                </li>
                <li>
                    <span class="float-right text-muted">2015-04</span>
                    <p class="h5 text-warning">上京</p>
                </li>
                <li>
                    <span class="float-right text-muted">2015 ~ 2018</span>
                    <p class="h5 text-warning">株式会社メイプルシステムズ</p>
                    <p>
                        メイプル初の新卒入社。
                        在学時からインターンシップ生としてリモートで開発。
                        SESとして多くの客先へ常駐し、多様な勤務形態や勤務環境なども経験しながらシステムエンジニアとして成長。
                    </p>
                    <p><a href="https://maplesystems.co.jp" target="_blank">maplesystems.co.jp</a></p>
                </li>
                <li>
                    <span class="float-right text-muted">2019-01</span>
                    <p class="h5 text-warning">フリーのシステムエンジニアとして独立</p>
                    <p>
                        約6年間務めたメイプルを退社。（インターン含）<br>
                        フリーのシステムエンジニアとして独立。
                    </p>
                </li>
            </ul>
        </div>

    </div>

</div>
