<div class="container">
	<h2>Latest News</h2>
	<div class="row">
		<div class="col-xl-10 offset-xl-1">
			<ul class="timeline">
				<li>
          <p class="timeline-title text-primary">株式会社メイプルシステムズ</p>
          <p class="timeline-subtitle">北海道 苫小牧市へ</p>
					<span class="float-right">21 March, 2014</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
				</li>
				<li>
          <p class="timeline-title text-primary">株式会社メイプルシステムズ</p>
          <p class="timeline-subtitle">北海道 苫小牧市へ</p>
					<span class="float-right">4 March, 2014</span>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
          <p class="timeline-title text-primary">株式会社メイプルシステムズ</p>
          <p class="timeline-subtitle">北海道 苫小牧市へ</p>
					<span class="float-right">1 April, 2014</span>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
			</ul>
		</div>
	</div>
</div>
