#achievements {
    
    /*.controls-top {
        position: absolute;
        top: 50%;
        &.prev {
            left: -20px;
        }
        &.next {
            right: calc(100% + 20px);
        }
    }*/

    .card-title {
        font-size: 1.2rem;
        margin-top: 0;
    }

}
