#sns {
    a {
        &:hover {
            text-decoration: none !important;
        }

        &.link-twitter {
            color: #1DA1F2;
        }
        &.link-facebook {
            color: #3B5998;
        }
        &.link-instagram {
            color: #D93177;
        }
        &.link-github {
            color: #24292e;
        }
        &.link-note {
            color: #2dcdb5;
        }
        &.link-qiita {
            color: #49BE06;
        }
    }
}
