<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="ja">
{% include head.html %}
<body>
    {% include header.html %}
    <section id="profile">
        {% include profile.html %}
    </section>
    <section id="sns">
        {% include sns.html %}
    </section>
    <section id="achievements" class="d-none d-lg-block">
        {% include achievements.html %}
    </section>
    <section>
        {% include timeline.html %}
    </section>
    {% include footer.html %}
</body>
</html>
